# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.lock
!pubspec.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Windows
*.exe
*.dll

# Temp
*.log
